.header {
  list-style: none;
  padding: 0;
  //margin: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  width: calc(100% - 52px);
  margin: auto;
  @media (max-width: 900px) {
    gap: 0;
  }
}

.headerElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  position: relative;
}

.headerHr {

  height: 1px;
  //background: #323846;
  background: #eeeeee;
  margin-top: 75px;
  width: 100%;
  @media (max-width: 900px) {
    margin-top: 42px;
  }
}

.headerElementSelected {
  .headerElementNum {
    background: #5981EA;
    border: 1px solid #5981EA;
  }
}

.headerElementNum {
  font-size: 70px;
  width: 150px;
  height: 150px;
  //border: 1px solid #eeeeee;
  //cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #323846;
  @media (max-width: 900px) {
    font-size: 30px;
    width: 80px;
    height: 80px;
  }
}

.headerElementTitle {
  text-align: center;
  font-size: 26px;
  padding-top: 20px;
  width: 120px;
  line-height: 1;
  @media (max-width: 900px) {
    font-size: 20px;
  }
}

.body {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.bodyElement {
  width: 100%;
}

.bodyInfo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.controls {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  justify-content: right;
}

.bodyList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.bodyListElement {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.bodyListElementSelect {
  width: 20px;
  height: 20px;
  //background: #eeeeee;
  border: 1px solid #eeeeee;
  cursor: pointer;
  border-radius: 3px;
}

.bodyListElementSelectSelected {
  background: #5981EA;
  border: 1px solid #5981EA;
}

.bodyListElementInput {

  input {
    background: none;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    outline: none;
    color: #eeeeee;
    text-align: center;
    width: 60px;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px;

    //+ ::placeholder {
    //  color: red;
    //}
  }
}